.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid;
    font-size: 20px;
    font-weight: 500;

}
.thead {
    background-color: rgb(47, 47, 55);
    color: white;
    font-weight: 800;
    
}
.type {
    text-transform: capitalize ;
    text-align: start;
    padding-left: 80px;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
    border: 1px solid;
}

td
 {
    border: 2px solid;
} 

th {
    border: 2px solid black;
}